@model IEnumerable<ISAD251_WebApp.Models.Appointment>

@{
    ViewData["Title"] = "Appointment";
    Layout = "newLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApptTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApptTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApptId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
