@model IEnumerable<ISAD251_WebApp.Models.Appointment>

@{
    ViewData["Title"] = "Appointment";
    Layout = "newLayout";
}
    <head>
        <script>
            var actionUrl = '<%= Url.Action("Index", "Appointments", new { id = "PLACEHOLDER" } ) %>';
        </script>
        
    </head>
<style>
    .sidenav {
        width: 130px;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 10px;
        background: #2196F3;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #ffffff;
            display: block;
        }

            .sidenav a:hover {
                color: #2196F3;
            }

    .main {
        margin-left: 140px;
        font-size: 28px; 
        padding: 0px 10px;
    }

</style>

<!-- SideNav -->
<div class="sidenav">
    <a class="w3-button w3-block w3-blue" style="font-size:15px">Appointments</a>
    <a class="w3-button w3-block w3-blue" style="font-size:15px" asp-area="" asp-controller="Deadlines" asp-action="Index"> Deadlines</a>
</div>


<p>
    <a style="padding-left:160px" asp-action="Create">Create New</a>
</p>


<body style="padding-top:120px">

    <!--Placeholder login system for demo purposes>-->
    <div style="float:right">
        <label for="user_select">Current user:</label>

        <div id="user_select">
            <a href="@Url.Action("Index", "Appointments" , new { id = 1, is_parent = true })" value="1">Parent</a>
            <a href="@Url.Action("Index", "Appointments" , new { id = 2, is_parent = false })" value="2">Child 1</a>
            <a href="@Url.Action("Index", "Appointments" , new { id = 3, is_parent = false })" value="3">Child 2</a>
            <a href="@Url.Action("Index", "Appointments" , new { id = 4, is_parent = false })" value="4">Child 3</a>
        </div>

    </div>
    

    <table class="table" style="padding-left:160px">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Duration
                </th>
                <th>
                    User
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApptTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApptDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApptLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApptDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ApptId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ApptId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ApptId">Delete</a>
                    </td>
                </tr>


            }
        </tbody>
    </table>






</body>
