@model IEnumerable<ISAD251_WebApp.Models.Deadline>

@{
    ViewData["Title"] = "Index";
    Layout = "newLayout";
}
<style>
    .sidenav {
        width: 130px;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 10px;
        background: #2196F3;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #ffffff;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }

    .main {
        margin-left: 140px; /* Same width as the sidebar + left position in px */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>

<!-- SideNav -->
<div class="sidenav">
    <a class="w3-button w3-block w3-blue" style="font-size:15px" asp-area="" asp-controller="Appointments" asp-action="Index">Appointments</a>
    <a class="w3-button w3-block w3-blue" style="font-size:15px"> Deadlines</a>
</div>

<h1>Index</h1>

<p>
    <a style="padding-left:160px" asp-action="Create">Create New</a>
</p>

    
<body>
    <div style="float:right">
        <label for="user_select">Current user:</label>

        <select name="user_select" id="user_select" onclick="">
            <option value="1">Parent</option>
            <option value="2">Child 1</option>
            <option value="3">Child 2</option>
            <option value="4">Child 3</option>
        </select>
    </div>

    <table class="table" style="padding-left:160px">

        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Completed?
                </th>
                <th>
                    User
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DeadlineId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DeadlineId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DeadlineId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>


</body>